.cache/
.idea/
.vs/


build2/
buildrel/
build*/
.vscode/
build/
build/installed/
cmake-build-*/
CMakeUserPresets.json
buildarm/
-.json
tracy/
*.dll
*.exe
imgui.ini
*.log
notes.yaml
examples/batching/imgui.ini
examples/bubble_idle/imgui.ini
examples/bubble_idle/art
compile_commands.json
old/out.txt
old/x.x
*.bak0
*.bak1
*.bak2

examples/bubble_idle/userdata*
*.psd
